*.o
*.a
*.so
*.dylib
*.dll
luajit/install/
openresty/install/
ravi/build/

luajit/src/host/buildvm
luajit/src/host/buildvm_arch.h
luajit/src/host/minilua
luajit/src/jit/vmdef.lua
luajit/src/lj_bcdef.h
luajit/src/lj_ffdef.h
luajit/src/lj_folddef.h
luajit/src/lj_libdef.h
luajit/src/lj_recdef.h
luajit/src/lj_vm.S
luajit/src/luajit
openresty/src/host/buildvm
openresty/src/host/buildvm_arch.h
openresty/src/host/minilua
openresty/src/jit/vmdef.lua
openresty/src/lj_bcdef.h
openresty/src/lj_ffdef.h
openresty/src/lj_folddef.h
openresty/src/lj_libdef.h
openresty/src/lj_recdef.h
openresty/src/lj_vm.S
openresty/src/luajit
